extends ../_template

block vars

block content

  .wrapper
    +header
    .container
      div(role="alert" style={
        'background-color': styles.alert_color,
        'color': styles.alert_text_color
      }).alert.alert-warning.alert-dismissible
        button(type="button" data-dismiss="alert").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        | !{disclaimer}
      div(id="accordion").panel-group
        - var counter = 0;
        each block in content
          .faqHeader !{block.title}
          each item in block.items
            - counter++
            .panel.panel-default
              div(role="tab").panel-heading
                h7.panel-title
                  a(data-parent="#accordion" data-toggle="collapse" href="#collapse" + counter) !{item.title}
              div(id="collapse" + counter).panel-collapse.collapse
                div(role="tabpanel").panel-body
                  | !{item.content}


    +footer
