extends ../_template

block vars

block content

  .wrapper
    +header
    .container.privacy-policy
      h3 Privacy Policy
      p
        b Last Updated: !{lastUpdated}
      p !{information}
      each block in content
        h4 !{block.title}
        p !{block.content}

    +footer
