extends ../_template

block vars

block content

  .wrapper
    +header
    .container.privacy-policy
      h3 Privacy Policy
      p
        b Last Updated: August 18, 2017
      p
        | At Execyoution, we value your privacy and desire in knowing how information about you is collected and used. This privacy policy governs the manner in which Execyoution Inc. (&#8220;<b>Execyoution</b>&#8221; or &#8220;<b>we</b>&#8220;) collects, maintains, uses and discloses information collected from users (each, a &#8220;user&#8221;) of our websites and/or chatbots. This privacy policy applies to all sites (including execyoution.com and 1min.me) and all products and services offered at Execyoution.com, 1min.me and our 1min.me Facebook Messenger chatbot (our &#8220;<b>sites</b>&#8221; or &#8220;<b>site</b>&#8220;).
      p This policy covers the following:
      h5 1- Collection of Personal Information
      h5 2- Usage of Personal Information
      h5 3- Sharing of Personal Information
      h5 4- Web Browser Cookies
      h4 1- COLLECTION OF PERSONAL INFORMATION
      p A user can browse our sites anonymously, however, when ordering or registering on our site, you may be asked to enter your name, email address, phone number and a password. Over time, you may be asked to provide other details such as demographic information and employment information. Such information will help customize and improve your experience on the site. We may also collect information when you place an order, subscribe to a newsletter, respond to a survey, fill out a form, open a support ticket, or interact with out chatbots.
      p You have the option to log into our site using third-parties that support
        a(href="http://openid.net/connect/") Open ID Connect
        | such as Google, Facebook and Amazon. If such services are used, you will be asked to share information including your name, email and other information as indicated when you authenticate your login.
      p We may also automatically collect other information about users whenever they interact with our sites. Such information may include your domain name; your location information and IP address; your browser type, the type of device and operating system used to connect to our site; the referring URL and the time spent on the time. Such information, combined with the other information we have about you (your user ID, client profile, etc.) are used to continuously improve the services we offer to our clients.
      h4 2- USAGE OF PERSONAL INFORMATION
      p Without your consent, we will only use your personal information as follows:
      p &#8211; To offer you services as indicated on our site(s).
      p &#8211; To provide you with personalized Customer Service.
      p &#8211; To analyze and understand how users access and use our services as a means to improve such services.
      p &#8211; For promotional purposes including direct marketing (unless you have opted out).
      p &#8211; To protect our services from abuse and, when needed, enforce our Terms of Use.
      p &#8211; To comply with all applicable laws.
      h4  3- SHARING OF INFORMATION
      p We do not rent or sell your personal information to third parties for marketing or other purposes.
      h4 WEB BROWSER COOKIES
      p Our site may use &#8220;cookies&#8221; to enhance user experience. User&#8217;s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the site may not function properly.
      h4 REMARKETING
      p You might find ads of our services on other sites that you visit. Some of the ads may be served by Google, Facebook or other 3rd party advertisers. Remarketing ads use cookie to serve ads to users based on their visit to our site and other sites on the internet. Cookies use &#8220;non personally identifiable information&#8221; and do not track personal information about you, such as your name, email address, physical address, etc. You can easily ask your browser not to accept cookies. You can enable the function from your device setting.
      h4 TURNING OFF THE COOKIES
      p You can easily switch cookies off by going to your browser settings to stop it from accepting cookies, however it’s entirely up to these 3rd party programs to accept or reject the device’s request to deny cookies. We cannot be held responsible for any tracking data collected by either 3rd party analytics or Facebook pixel.
      h4  INFORMATION PROTECTION
      p We are committed to keeping your e-mail address confidential. We do not sell, rent, or lease our subscription lists to third parties, and we will not provide your personal information to any third party individual, government agency, or company at any time unless compelled to do so by law.
      br
      We will maintain the information you send via e-mail in accordance with applicable federal law.
      br
      CANSPAM ACT
      p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
      p We collect your email address in order to:
      ul.privacy-ul
        li Send information, respond to inquiries, and/or other requests or questions
        li Process orders and to send information and updates pertaining to orders.
        li Send you additional information related to your product and/or service.
        li Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.
      <h5>To be in accordance with CANSPAM, we agree to the following:</h5>
      ul.privacy-ul
        li Not use false or misleading subjects or email addresses.
        li Identify the message as an advertisement in some reasonable way.
        li Include the physical address of our business or site headquarters.
        li Monitor third-party email marketing services for compliance, if one is used.
        li Honor opt-out/unsubscribe requests quickly.
        li Allow users to unsubscribe by using the link at the bottom of each email.
      p If at any time you would like to unsubscribe from receiving future emails, you can email us at
        a(href="mailto:info@execyoution.com") info@execyoution.com
        | OR Follow the instructions at the bottom of each email and we will promptly remove you from ALL correspondence.
      h4 THIRD-PARTY DISCLOSURE
      p We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it&#8217;s release is appropriate to comply with the law, enforce our site policies, or protect ours or others&#8217; rights, property or safety.
      p However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
      h4  CHANGES TO THIS PRIVACY POLICY
      p Execyoution have the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page and send you an email. We encourage users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
      h4 YOUR ACCEPTANCE OF THESE TERMS
      p By using Execyoution.com or 1min.me, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our site. Your continued use of the site following the posting of changes to this policy will be deemed your acceptance of those changes.
      h4 CONTACTING US
      p if you have any questions about this privacy policy, the practices of this site or your dealings with this site, please contact us via contact form at Execyoution.com or you can email us at
        a(href="mailto:info@execyoution.com") info@execyoution.com

    +footer
