// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/*******headnav navbar*******/
header.header {
    a {
        @include underlinenone;
    }
    
      .logo {
          
        text-decoration: none;
        float: left;
        margin: 15px 0; 
        color: $white;
        @include respond-to(medium) { max-width: 180px}
    } 
}
 