mixin footer

  +b.FOOTER.footer
    section.copyright
      .container
        aside.col-md-12.copyright-text
          .textwidget Copyright © 2017 execYOUtion. All rights reserved.
          .menu-copyright-links-container
            ul.menu-copyright-links.menu
              li
                a(href='http://www.execyoution.com/privacy-policy/') Privacy Policy
              li
                a(href='http://www.execyoution.com/terms-of-service/') Terms of Service
mixin header

  +b.HEADER.header
    +e.navbar
      .container
        +e.A.logo(href='index.html')
          img(src=imgLink, alt='execyoution')
        +e.BUTTON.navbar--toggle.navbar-toggle(type='button')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        +e.UL.navbar--nav.nav.navbar-nav.navbar-right
          for link in links
            li
              a(href=link.href)
                span #{link.text}