appdirs==1.4.3
attrs==19.3.0
beautifulsoup4==4.8.1
black==19.10b0
boto==2.49.0
boto3==1.10.14
botocore==1.13.14
Click==7.0
docutils==0.15.2
jmespath==0.9.4
pathspec==0.6.0
python-dateutil==2.8.0
regex==2019.11.1
s3transfer==0.2.1
six==1.13.0
soupsieve==1.9.5
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.8
