.video-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  text-align: center;
  padding: 20px 0;
  h1 {
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    @include respond-to(medium) {
      font-size: 26px;
    }
    @include respond-to(small) {
      font-size: 22px;
    }
    span {
      display: block;
      font-weight: 400;
    }
    i {
      font-weight: 300;
      font-style: normal;
    }
  }
}

.video-play {
  display: block;
  margin: 27px auto;
  cursor: pointer;
  color: $lightgray;
  position: relative;
  width: 150px;
  .fa {
    font-size: 90px;
    border-radius: 50%;
    border: none;
    line-height: normal;

  }
  .fa-play {
    @include centered;
    font-size: 30px;
    margin-left: 4px
  }
  &:hover {
    color: $primarycolor;
  }
}
.buttons-container {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-button {
  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 20px;
    color: $white;
    background: $lightgray;
    @include respond-to(small) {
      margin: 0 5px ;
    }
    &:hover {
      background: $primarycolor;
    }
  }
}