mixin footer

  +b.FOOTER.footer
    section.copyright
      .container
        aside.col-md-12.copyright-text
          .textwidget Copyright © 2017 execYOUtion. All rights reserved.
          .menu-copyright-links-container
            ul.menu-copyright-links.menu
              li
                a(href='http://www.execyoution.com/privacy-policy/') Privacy Policy
              li
                a(href='http://www.execyoution.com/terms-of-service/') Terms of Service