// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    color: $link;
    text-decoration: none;
    @include transition-effect;
    &:hover,
    &:focus,
    &:active {
        color: $primarycolor;
        text-decoration: underline;
        outline: none;
    }
}

ul,
ol {
    padding: 0 0 0 20px;
}

b,
strong {
    font-weight: bold;
}

 

input[type=text] {
    box-shadow: none;
    -webkit-appearance: none;
}

:-moz-placeholder {
    color: inherit;
}

::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: inherit;
}

::-webkit-input-placeholder {
    color: inherit;
}


.link {
    color: $link;
    position: relative;
    padding-left: 15px;
}

.form-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: block;
        padding-bottom: 10px;
        clear: both;
        float: left;
        width: 100%;
    }
    label {
        font-weight: 300;
        font-size: 19px;
        padding-bottom: 3px;
        display: block;
    }
}

 
section{ @include clearfix;}
 
.site-content {
    @include clearfix;
}

.section-title {
    padding-bottom: 30px;
    h2 {
        text-align: left;
        font-weight: normal;
        font-size: 51px;
    }
}

.figure {
    display: inline-block;
    margin-bottom: 15px;
}

.figure-img {
    margin-bottom: 15px;
    line-height: 1
}

.figure-caption {
    font-size: 90%;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.link {
    color: $link;
    position: relative;
    padding-left: 15px;
}

.container {
    max-width:980px; 
    width: 100%;
 @include respond-to(large){} 
}
 



