.copyright {
  background: $footer-bg;
  color: #666;
  padding: 15px 0;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  .copyright-text .textwidget, .menu-copyright-links-container {
    float: left;
    text-align: center;
  }
  .copyright-text {
    @include mediamax(767px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  a {
    color: #999;
    &:hover {
      color: #ccc;
    }
  }
  .menu-copyright-links {
    @include mediamax(767px) {
      display: flex;
      justify-content: center;
    }
  }
  .menu-copyright-links li {
    float: left;
    a {
      border-left: 2px solid #454545;
      padding-left: 10px;
      margin-left: 10px;
    }
    &:first-child a {
      border-left: 0;
      @include mediamax(767px) {
        margin: 0;
        padding: 0;
      }
    }
  }
}
