- var imgLink = 'assets/img/logo.png';
- var loopedVideoMp4 = 'http://mipex.eu/sites/default/files/video/mipex_loop-1.mp4';
- var loopedVideoWebm = 'http://mipex.eu/sites/default/files/video/mipex_loop-1.webm';
- var loopedVideoOgv = 'http://mipex.eu/sites/default/files/video/mipex_loop-1.ogv';
- var embeddedVideo = 'https://www.youtube.com/embed/9jIBVEAjidw';
- var line1 = 'HOW COUNTRIES';
- var line2 = 'ARE PROMOTING';
- var line3_word1 = 'integration';
- var line3_word2 = 'of immigrants';
- var icon_class1 = 'fa fa-circle-o-notch faa-spin animated';
- var icon_class2 = 'fa fa-play';
- var web_url = '#!';
- var messenger_url = '#!';
-
  var links = [
  {
  "href":"#!",
  "text":"net training"
  },
  {
  "href":"#!",
  "text":"science anchoring our approach"
  },
  {
  "href":"#!",
  "text":"medx lower back"
  },
  {
  "href":"#!",
  "text":"get started"
  },
  {
  "href":"#!",
  "text":"connect on web"
  },
  {
  "href":"#!",
  "text":"connect on messenger"
  }
  ];
