// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
 input[type="text"], input[type="email"], textarea{   border-radius: 6px; border-color:$inputborder;
     &:focus{border-color:$inputborder;} 
}
.form-control{ padding:12px 10px;  color:$basecolor;
    &:focus{ box-shadow:none; border-color:$inputborder; } 
}  
 textarea:focus{border-color:$inputborder; }  

input.form-control[type="submit"]{ width: auto; background:$primarycolor; color: $white; height: auto }       

.form-horizontal .form-group{ margin-bottom:20px;
   @include respond-to(small) {  margin-bottom: 0;
              .form-control{ margin-bottom: 12px}
      }
    } 